<html>
    <head>
        <title>Brexit polling</title>
    </head>
    <body>
        <h1>Brexit polling</h1>
        <object width="650" type="image/svg+xml" data="/poll-of-polls/600-x-100.svg">Your browser does not support SVG</object>
        <object width="650" type="image/svg+xml" data="/polls/medium-term/600-x-300.svg">Your browser does not support SVG</object>
        <object width="650" height="500" type="image/svg+xml" data="/polls/2014-10-1,now/600-x-400.svg">Your browser does not support SVG</object>
    </body>
</html>