<html>
    <head>
        <title>Brexit polling</title>
    </head>
    <body>
        <h1>Brexit polling</h1>
        <object width="650" type="image/svg+xml" data="/poll-of-polls/600-x-100.svg">Your browser does not support SVG</object>
        <object width="650" height="500" type="image/svg+xml" data="/polls/2014-10-1,now/600-x-400.svg">Your browser does not support SVG</object>
        <table>
            <thead>
                <tr>
                    <th>{{ remain.label }}</th>
                    <th>{{ leave.label }}</th>
                    <th>{{ undecided.label }}</th>
                    <th>Date</th>
                    <th>Pollster</th>
                    <th>Sample Size</th>
                </tr>
            </thead>
            <tbody>
                {% for poll in data %}
                <tr>
                    <td>{{ poll.remain }}</td>
                    <td>{{ poll.leave }}</td>
                    <td>{{ poll.undecided }}</td>
                    <td>{{ poll.date }}</td>
                    <td>{{ poll.pollster }}</td>
                    <td>{{ poll.sample }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>